*{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 780px;
    margin: 0 auto;
}

input{
    display: block;
}

hr{
    margin: 15px 0;
}

.messages{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed grey;
}

.info{
    margin: 5px 0;
}

.info a {
    font-weight: normal;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
